<% layout("/layout/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
    <br><br>
    <h3>Add New Listing</h3>
    <br>
   
    <form method ="POST" action="/listings" class="needs-validation" novalidate >

    
        <div class="mb-3">
        <label for="title" class="form-label">title</label>
        <input type="text" name="listin[title]" class="form-control" placeholder="enter title" required>
        <div class="valid-feedback">Title is fine</div>
        </div>
        
        <div class="mb-3">
        <label for="description" class="form-label">description</label>
        <textarea type="text" name="listin[description]" class="form-control" placeholder="enter description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="url" class="form-label">url</label>
        <input type="text" name="listin[image][url]" class="form-control" placeholder="enter url">
        </div>
        <div class="mb-3">
        <label for="filename" class="form-label">filename</label>
        <input type="text" name="listin[image][filename]" class="form-control" placeholder="enter filename">
        </div>
        <div class="row ">
        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input name="listin[price]" class="form-control" placeholder="enter price " >
        </div>
        <div class="mb-3 col-md-4">
        <label for="location" class="form-label">location</label>

        <input type="text" name="listin[location]" class="form-control" placeholder="enter location" required>
        </div>
        </div>
        <div class="mb-3">
        <label for="country" class="form-label">country</label>

        <input type="text" name="listin[country]" class="form-control" placeholder="enter country" required>
        </div>
        <br><br>
        <button class="btn btn-dark add-btn">add</button>
        <br><br>

    </form>
    </div>
</div>
    
</body>
