<% layout("/layout/boilerplate.ejs") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h4>Sign Up</h4>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="usename" class="form-label">username</label>
                    <input type="text" name="username" id="username" class="form-control"  required>
                    <div class="valid-feedback">nice</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">email</label>
                        <input type="email" name="email" id="email" class="form-control"  required>
                        <div class="valid-feedback">got it</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">password</label>
                        <input type="password" name="password" id="password" class="form-control"  required>
                        <div class="valid-feedback">good</div>
                    </div>   
                       <button class="btn btn-dark add-btn">signup</button>

            </form>
        </div>
</div>
</body>